/* Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: transparent;
  color: white;
}

.wrap {
  width: 1920px;
  height: 1080px;
  position: relative;
  background: transparent;
}

/* Main board */
.board {
  position: absolute;
  left: 60px;
  top: 20px;
  width: 1800px;
  background: rgba(0,0,0,0.72);
  border-radius: 18px;
  overflow: hidden;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  font-size: 28px;
  font-weight: 700;
  background: rgba(255,255,255,0.08);
}
#top-banner{
  margin-left:100px;
}
.status {
  font-size: 24px;
  font-weight: 800;
}

/* Grid layout */
.grid {
  display: inline-flex;
  grid-template-columns: 40px 40px 75px 60px 60px;
  gap: 0;
  align-items: center;
  font-size: 24px;
}

.entry {
  padding: 5px 15px;
  border-top: 1px solid rgba(255,255,255,0.08);
  width:70px;
}
.pos{
    background-color: white;
    color:black;
    width:20px;
}
.car{
    width:20px;
}
.name{
    width:110px;
    container-type: inline-size;

    
}
.name .text{
  font-size:clamp(20px, 28, 31px) !important;
  white-space: nowrap;
}
.last, .gap{
  font-size:22px;
  width:90px;
}
.gap .text::before{
  content: "-";
}

/* Labels row */
.labels .cell {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  opacity: 0.8;
  font-weight: 700;
}

/* Layout panels */
.two-panels {
  display: grid;
  grid-template-columns: auto;
}

.panel {
  padding: 5px 5px 12px 5px;
}

.panel-title {
  padding: 14px 18px 4px;
  font-size: 22px;
  font-weight: 800;
  opacity: 0.9;
}

/*Flag Status Styles */
.green-flag{
  background-color: green;
}
.yellow-flag{
  background-color: yellow;
}
.red-flag{
  background-color: red;
}
.white-flag{

}
.checkered-flag{
  background-color: black;
}
